<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="materias"></ion-back-button>
    </ion-buttons>
    <ion-title>{{alumnoSrv.miMateria.nombre}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let comision of alumnoSrv.misComisiones" >  
      <ion-label [routerLink]="['/clases' ,comision._id]">{{comision.nombre}}</ion-label>
      <ion-icon slot="end" name="trash-outline"  (click)="borrarComision(comision);"></ion-icon>
    </ion-item>
  
  </ion-list>
  <ion-item>
    <ion-icon slot="start" name="add-outline" (click)="elegirComision();"></ion-icon>
  </ion-item>
  
</ion-content>