<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">DNI <ion-text color='danger'>*</ion-text></ion-label>
    <ion-input [(ngModel)]="dni" type="number" required></ion-input>
    
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="contrasena1" type="password" required></ion-input>
  </ion-item>
  

  <ion-button (click)='iniciarSesion()' color="primary" expand="block" [disabled]=" contrasena1==null || dni==null|| contrasena1=='' || dni==''">Iniciar Sesion</ion-button> <! – sacar routing, validación por función — >
  <ion-button color="primary" expand="block" [routerLink]="['/registro']">Registrarse</ion-button>
</ion-content>
