<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{alumno.nombre}} {{alumno.apellido}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <div class="contenedor">
    <ion-img class="tamanoImg" src='../../assets/icon/favicon.png'></ion-img>
    </div>
  </ion-item>


  <ion-button color="primary" expand="block" [routerLink]="['/materias']">Ver materias</ion-button>
  <ion-button color="primary" expand="block" (click)="goToBarcodeScan()">Marcar asistencia</ion-button>


</ion-content>
