<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{alumno.nombre}} {{alumno.apellido}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Tu proxima clase es de {{materia}} dentro de {{tiempo}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Te debo un calendario</ion-label>
  </ion-item>

  <ion-button color="primary" expand="block" [routerLink]="['/materias']">Ver materias</ion-button>
  <ion-button color="primary" expand="block" (click)="goToBarcodeScan()">Marcar asistencia</ion-button>


</ion-content>
